<footer class="site-footer small--text-center" role="contentinfo">

  <div class="wrapper">

    <div class="grid-uniform ">

      {% comment %}
        Calculate the number of footer columns shown
      {% endcomment %}
      {% assign num_footer_columns = 0 %}
      {% if settings.footer_quicklinks_enable %}
        {% assign num_footer_columns = num_footer_columns | plus: 1 %}
      {% endif %}
      {% if settings.footer_social_enable %}
        {% assign num_footer_columns = num_footer_columns | plus: 1 %}
      {% endif %}
      {% if settings.footer_contact_enable %}
        {% assign num_footer_columns = num_footer_columns | plus: 1 %}
      {% endif %}
      {% if settings.footer_newsletter_enable %}
        {% assign num_footer_columns = num_footer_columns | plus: 1 %}
      {% endif %}
      {% if settings.footer_1 %}
        {% assign num_footer_columns = num_footer_columns | plus: 1 %}
      {% endif %}
      {% if settings.footer_2 %}
        {% assign num_footer_columns = num_footer_columns | plus: 1 %}
      {% endif %}
      {% if settings.footer_3 %}
        {% assign num_footer_columns = num_footer_columns | plus: 1 %}
      {% endif %}
      {% if settings.footer_4 %}
        {% assign num_footer_columns = num_footer_columns | plus: 1 %}
      {% endif %}
      {% if settings.footer_5 %}
        {% assign num_footer_columns = num_footer_columns | plus: 1 %}
      {% endif %}
      {% if settings.footer_6 %}
        {% assign num_footer_columns = num_footer_columns | plus: 1 %}
      {% endif %}

      {% case num_footer_columns %}
        {% when 0 %}
        {% when 1 %}
          {% assign footer_column_width = '' %}
        {% when 2 %}
          {% assign footer_column_width = 'large--one-half medium--one-half' %}
        {% when 3 %}
          {% assign footer_column_width = 'large--one-third medium--one-third' %}
        {% when 4 %}
          {% assign footer_column_width = 'large--one-quarter medium--one-half' %}
        {% when 5 %}
          {% assign footer_column_width = 'large--one-fifth medium--one-half' %}
        {% when 6 %}
          {% assign footer_column_width = 'large--one-sixth medium--one-half' %}
        {% when 7 %}
          {% assign footer_column_width = 'large--one-eighth medium--one-half' %}
        {% when 8 %}
          {% assign footer_column_width = 'large--one-eighth medium--one-half' %}
        {% when 9 %}
          {% assign footer_column_width = 'large--one-tenth medium--one-half' %}
        {% when 10 %}
          {% assign footer_column_width = 'large--one-tenth medium--one-half' %}
      {% endcase %}

      {% if settings.footer_quicklinks_enable %}
        <div class="grid__item {{ footer_column_width }}">
          <h4>{{ 'layout.footer.linklist_title' | t }}</h4>
          <ul class="site-footer__links">
            {% for link in linklists[settings.footer_quicklinks_linklist].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if settings.footer_1 %}
        <div class="grid__item {{ footer_column_width }}">
          <h4>{{ linklists[settings.footer_1_linklist].title }}</h4>
          <ul class="site-footer__links">
            {% for link in linklists[settings.footer_1_linklist].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if settings.footer_2 %}
        <div class="grid__item {{ footer_column_width }}">
          <h4>{{ linklists[settings.footer_2_linklist].title }}</h4>
          <ul class="site-footer__links">
            {% for link in linklists[settings.footer_2_linklist].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if settings.footer_3 %}
        <div class="grid__item {{ footer_column_width }}">
          <h4>{{ linklists[settings.footer_3_linklist].title }}</h4>
          <ul class="site-footer__links">
            {% for link in linklists[settings.footer_3_linklist].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if settings.footer_4 %}
        <div class="grid__item {{ footer_column_width }}">
          <h4>{{ linklists[settings.footer_4_linklist].title }}</h4>
          <ul class="site-footer__links">
            {% for link in linklists[settings.footer_4_linklist].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if settings.footer_5 %}
        <div class="grid__item {{ footer_column_width }}">
          <h4>{{ linklists[settings.footer_5_linklist].title }}</h4>
          <ul class="site-footer__links">
            {% for link in linklists[settings.footer_5_linklist].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if settings.footer_6 %}
        <div class="grid__item {{ footer_column_width }}">
          <h4>{{ linklists[settings.footer_6_linklist].title }}</h4>
          <ul class="site-footer__links">
            {% for link in linklists[settings.footer_6_linklist].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}


      {% if settings.footer_social_enable %}
        <div class="grid__item {{ footer_column_width }}">
          <h4>{{ 'layout.footer.social_title' | t }}</h4>
            {% comment %}
              Loop through the social network links
            {% endcomment %}
            <ul class="inline-list social-icons">
              {% if settings.social_twitter_link != blank %}
                <li>
                  <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                    <span class="icon icon-twitter" aria-hidden="true"></span>
                    <span class="fallback-text">Twitter</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_facebook_link != blank %}
                <li>
                  <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                    <span class="icon icon-facebook" aria-hidden="true"></span>
                    <span class="fallback-text">Facebook</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_pinterest_link != blank %}
                <li>
                  <a class="icon-fallback-text" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                    <span class="icon icon-pinterest" aria-hidden="true"></span>
                    <span class="fallback-text">Pinterest</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_google_plus_link != blank %}
                <li>
                  <a class="icon-fallback-text" href="{{ settings.social_google_plus_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
                    <span class="icon icon-google" aria-hidden="true"></span>
                    <span class="fallback-text">Google</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_instagram_link != blank %}
                <li>
                  <a class="icon-fallback-text" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                    <span class="icon icon-instagram" aria-hidden="true"></span>
                    <span class="fallback-text">Instagram</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_tumblr_link != blank %}
                <li>
                  <a class="icon-fallback-text" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                    <span class="icon icon-tumblr" aria-hidden="true"></span>
                    <span class="fallback-text">Tumblr</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_youtube_link != blank %}
                <li>
                  <a class="icon-fallback-text" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                    <span class="icon icon-youtube" aria-hidden="true"></span>
                    <span class="fallback-text">YouTube</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_vimeo_link != blank %}
                <li>
                  <a class="icon-fallback-text" href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                    <span class="icon icon-vimeo" aria-hidden="true"></span>
                    <span class="fallback-text">Vimeo</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_fancy_link != blank %}
                <li>
                  <a class="icon-fallback-text" href="{{ settings.social_fancy_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
                    <span class="icon icon-fancy" aria-hidden="true"></span>
                    <span class="fallback-text">Fancy</span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_rss_link != blank %}
                <li>
                  <a class="icon-fallback-text" href="{{ settings.social_rss_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'RSS' }}">
                    <span class="icon icon-rss" aria-hidden="true"></span>
                    <span class="fallback-text">RSS</span>
                  </a>
                </li>
              {% endif %}
            </ul>
        </div>
      {% endif %}

      {% if settings.footer_contact_enable %}
        <div class="grid__item {{ footer_column_width }}">
          <h4>{{ 'layout.footer.contact_title' | t }}</h4>
          <div class="rte">{{ settings.footer_contact_text }}</div>
        </div>
      {% endif %}

      {% if settings.footer_newsletter_enable %}
        <div class="grid__item {{ footer_column_width }}">
          <h4>{{ 'layout.footer.newsletter_title' | t }}</h4>
          <p>{{ 'layout.footer.newsletter_caption' | t }}</p>
          {% include 'newsletter-form' %}
        </div>
      {% endif %}
    </div>

    <hr>

    <div class="grid">
      <div class="grid__item large--one-half large--text-left medium-down--text-center">
        <p class="site-footer__links">{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}. {{ powered_by_link }}</p>
      </div>
      {% unless shop.enabled_payment_types == empty %}
        <div class="grid__item large--one-half large--text-right medium-down--text-center">
          <ul class="inline-list payment-icons">
            {% for type in shop.enabled_payment_types %}
              <li>
                <span class="icon-fallback-text">
                  <span class="icon icon-{{type}}" aria-hidden="true"></span>
                  <span class="fallback-text">{{type | replace: '_',' '}}</span>
                </span>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endunless %}
    </div>

  </div>

</footer>
